.contenedor{
    display: grid;
    grid-template-columns: 15% 85%;
}

.contenedorNavBar{
    background-color:  var(--bkColor2Claro); 
    display: flex; 
    height: 100vh;
    flex-direction: column;
    padding: 10px 0 0 20px;
}

/* CONTENEDORES DE CODIGO*/
.contenedorCodigo{
    display: grid;
    border: 0.1px solid rgb(174 174 175);
    margin: 12px 0 12px 0;
    border-radius: 1px;
    box-shadow:  4px 4px 5px 0 #000;;
}

/* CONTENEDOR CODIGO*/
.contenedorCodigoVisualStudio{    
    border: 20px;
    background-color: #1b1b1b;
    margin: 5px 10px;
    padding: 10px 20px;
    border-radius: 4px;  
    display: flex;  
    width: 97%;
}

.codigo{
    color: rgb(40, 162, 27);
    font-size: 17px;
}

.consola{    
    padding: 0 0 0 10px  ;
    color: rgb(148, 148, 148);    
    font-size: 16px;
}

.btnProbar{
    width: 80px;
    padding: 1px 3px;
    display: none;
}


/* Estilos para dispositivos móviles utilizando media queries */
@media (max-width: 768px) {

    .contenedor{
        display: grid;
        grid-template-columns: 0% 99%;
    }
}
