.contenedor{
    display: grid;
    grid-template-columns: 15% 85%;
}

.contenedorNavBar{
    background-color:  var(--bkColor2Claro); 
    display: flex; 
    height: 100vh;
    flex-direction: column;
    padding: 10px 0 0 20px;
}

/* CONTENEDORES DE CODIGO*/
/*.contenedorCodigo{
    display: grid;
    border: 0.1px solid rgb(174 174 175);
    margin: 12px 0 12px 0;
    border-radius: 1px;
    box-shadow:  4px 4px 5px 0 #000;;
}*/

/* CONTENEDOR CODIGO*/
.contenedorCodigoVisualStudio{    
    border: 20px;
    background-color: #272822;    
    border-radius: 4px;      
}

.contenedorCodigo{    
    border: 20px;
    background-color: #272822;    
    border-radius: 4px;      
}

.explicaciones{
    color: white; 
    padding: 15px 8px 15px 12px; 
    font-size: 17px;
}






