


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <link rel="stylesheet" href="/css/proyects.css">
    <link rel="stylesheet" href="/css/iziToast.min.css">
    <title>PORTFOLIO</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <style>
        h1{
          font-family: 'PT Sans', sans-serif;
          display: block;
          font-size: 2em;
          margin-block-start: 0.67em;
          margin-block-end: 0.67em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 32px;
        }

        .clsTarjetas {
          display: grid;
          grid-template-columns: repeat(auto-fill, 230px);
          padding: 20px;
          justify-content: center;
          gap: 30px;
        }

        .movies {          
          background-color: var(--bkColor1Claro);          
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          align-items: center;    
          text-align: center;          
          box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
          border-radius: 5px;
          
        }

        .movies p {
          margin-top: 4px;
        }

        img {
          border-radius: 4px 4px 0 0 ;
          width:100% ;                   
          object-fit: cover;
          height: 345px;
          /* box-shadow: 5px 5px 5px #aaaaaa;*/
        }

        img:hover {
          /*  scale: 1.1;*/
          transition: 0.4s;
          /* box-shadow: 5px 5px 5px #aaaaaa;*/
          opacity: 0.8;
        }

        .clsTituloMovie {         
          text-align: center;
        }

        .main-btn {
            padding: 0.5rem 1rem;
            font-size: 13px;
            font-weight: 400;
            margin: 10px auto;
            background-color: var(--txtbtntxt);
            color: var(--txtbtnbg);
            border-radius: 5px;
            cursor: pointer;
        }
      </style>
</head>

<body id="elemBody" class="modoClaro  modoOscuro">
  <header>
    <%- include ("partials/_heads") %>
  </header>
  <div >
    <div style="width: 80%; margin: 0 auto;">
      <p class="main-texto">Mis <span class="main-nombre"> PELICULAS</span><span class="main-punto"
          id="main-punto">_</span>
      </p>      
    </div>
  </div>
  <div style="border-bottom: 1px solid rgba(128, 128, 128, 0.282); text-align: center;">
    <button id="btnTopMovies" class="main-btn">TOP</button>
    <button id="btnTrendingMovies" class="main-btn">TREND</button>
    <button id="btnUpcomingMovies" class="main-btn">UPCOMING</button>
    <input id="inpBuscar" type="text" placeholder="Pelicula.." value="" style="width: 100px; text-align: center; margin-left: 3px;">
    <button id="btnBuscar" class="main-btn" style="margin-right: 3px;">BUSCAR</button>
    <br>
    <button id="" class="main-btn">MIS FAV</button>
    <button id="" class="main-btn">VISTAS</button>
    <button id="" class="main-btn">A VER</button>
  </div>
  <div style="border-bottom: 1px solid rgba(128, 128, 128, 0.282); text-align: center;">
    <button id="btnIzquierda" class="main-btn"><</button>
    <input id="inpNroPagina" type="number" value="1" style="width: 40px; text-align: center;">
    <button id="btnDerecha" class="main-btn">></button>
  </div>
  
  <div style="margin-top: 3px;" id="divPrincipal">
    <div class="clsMovies" style="width: 80%; margin: auto; margin-bottom: 40px;">
      <ul class="clsTarjetas" id="clsTarjetas">
  
      </ul>
    </div>   
  </div>

  <footer>
    <div class="containterMain--redes">
      <ul class="redes">
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fab fa-twitter"></i></a>
        <a class="redes-items" href="https://github.com/germandeburzaco"><i class="fab fa-github"></i></a>
        <a class="redes-items" href="https://codepen.io/GermanDaniG"><i class="fab fa-codepen"></i></a>
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fas fa-envelope"></i></a>

      </ul>
    </div>
    <div class="footer-bajo">

    </div>
  </footer>

  <script src="/js/iziToast.min.js"></script>

  <script>
   
    window.addEventListener("load", () => {
      
      var inpNroPagina = document.getElementById("inpNroPagina")
      const btnTopMovies = document.getElementById("btnTopMovies"); 
      const btnIzquierda = document.getElementById("btnIzquierda"); 
      const btnDerecha = document.getElementById("btnDerecha"); 
      const btnTrendingMovies = document.getElementById("btnTrendingMovies")
      const btnUpcomingMovies = document.getElementById("btnUpcomingMovies")
      const btnBuscar = document.getElementById("btnBuscar")
      const inpBuscar = document.getElementById("inpBuscar")
      
      var urlToFetch = ""
      var tipoQry = ""

      //https://api.themoviedb.org/3/movie/upcoming
      btnTopMovies.addEventListener("click", async function () { //OK
        inpNroPagina.value = 1
        tipoQry = 'TOPMovies'
        urlToFetch= `https://api.themoviedb.org/3/movie/top_rated?language=es-es`
        fetchData(urlToFetch, inpNroPagina.value)
      });

      btnBuscar.addEventListener("click", async function () {  
        inpNroPagina.value = 1
        tipoQry = 'QRYmovies'
        urlToFetch= `https://api.themoviedb.org/3/search/movie?language=es-ES&query=${inpBuscar.value}&sort_by=popularity.desc`

        fetchData(urlToFetch, inpNroPagina.value)
        
      });


      btnTrendingMovies.addEventListener("click", ()=>{//ok
        inpNroPagina.value = 1
        tipoQry = 'TOPMovies'
        urlToFetch = `https://api.themoviedb.org/3/trending/movie/week?language=es-es`
        fetchData(urlToFetch, inpNroPagina.value)
      })

      btnUpcomingMovies.addEventListener("click", async function () {//ok
        inpNroPagina.value = 1
        tipoQry = 'TOPMovies'
        urlToFetch= `https://api.themoviedb.org/3/movie/upcoming?language=es-es`
        fetchData(urlToFetch, inpNroPagina.value)
      });

      btnIzquierda.addEventListener("click", async function () {  //ok      
        inpNroPagina.value = parseInt(inpNroPagina.value) - 1
        fetchData(urlToFetch, inpNroPagina.value)
      });

      btnDerecha.addEventListener("click", async function () {//ok
        console.log(inpNroPagina.value)
        inpNroPagina.value = parseInt(inpNroPagina.value) + 1
        fetchData(urlToFetch, inpNroPagina.value)
      });

      
      function fetchData(urlToFetch, NroPagina){  
        console.log(urlToFetch)
        document.getElementById("clsTarjetas").innerHTML = "";               
          fetch(`/protegida/api?tipoQry=${tipoQry}&urlToFetch=${urlToFetch}&NroPagina=${NroPagina}`)         
            .then((res) => res.json())
            .then((res) => {  
              const peliculas = res.results;
              console.log(peliculas);
              peliculas.forEach((pelicula) => {
                var colorAgendar = "grey"
                var colorFavorito = "grey"
                var colorVisto = "grey"
                if(pelicula.agendar){
                  colorAgendar = "red"
                }

                if(pelicula.favorito){
                  colorFavorito = "red"
                }

                if(pelicula.visto){
                  colorVisto = "red"
                }
                document.getElementById("clsTarjetas").innerHTML += `
                        <li class="movies">                    
                            <img src="https://image.tmdb.org/t/p/w200${pelicula.poster_path}" alt="${pelicula.title}">  
                            <p class="clsTituloMovie">${pelicula.title}</p>                                      
                            <p class="clsTituloMovie">${pelicula.vote_average}<meter min="0" max="10"low="3" high="7"optimum="10"value="${pelicula.vote_average}"></p>     
                            <div style="width: 100%; margin-top: 3px; margin-bottom: 3px">  
                            <i class="fas fa-bookmark" style="width: 32%; color:${colorAgendar}; cursor: pointer" data-id="${pelicula.id}" data-descrip="agendar" title="Quiero ver esta pelicula!"></i>
                            <i class="fas fa-star" style="width: 32% ; color:${colorFavorito}; cursor: pointer" data-id="${pelicula.id}" data-descrip="favorito" title="Pelicula favorita!"></i>
                            <i class="far fa-eye" style="width: 32% ; color:${colorVisto}; cursor: pointer" data-id="${pelicula.id}" data-descrip="visto" title="Ya ví esta pelicula!"></i>
                          </div>               
                      </li>`;
              }); //FIN
            });
      }// FIN FETCHDATA

      /**********************************************/
      // CONTROLAR DINAMICAMENTE CLICK A DIVPRINCIPAL
      /**********************************************/      
      const divPrincipal = document.getElementById('divPrincipal'); 
      divPrincipal.addEventListener('click', function (e) {
        console.log(e)
        console.log(e.target)
        if(e.target.style.color === "red"){
          e.target.style.color = "grey"

          fetchAddRemoveMOVIEuser("baja", e.target.dataset.id , e.target.dataset.descrip)

          iziToast.warning({     
            id: 'iziAguarde', // Asigna un ID a la notificación               
            title: "ELIMINADO",
            message: "esta pelicula fue eliminada de su lista",
            closeOnClick: true,                    
            position: 'bottomRight',
            timeout: 300000
          });

        }else{
          e.target.style.color = "red"
          
          fetchAddRemoveMOVIEuser("alta", e.target.dataset.id , e.target.dataset.descrip)

          iziToast.success({     
            id: 'iziAguarde', // Asigna un ID a la notificación               
            title: "AGREGADO",
            message: "esta pelicula fue agregada a su lista",
            closeOnClick: true,                    
            position: 'bottomRight',
            timeout: 300000
          });

        }
      })// FIN MANEJO DINAMICO A DIVPRINCIPAL


      /**********************************************/
      // FUNCION FETCH ADD REMOVE MOVIES A LISTA DEL USUARIO
      /**********************************************/ 
      function fetchAddRemoveMOVIEuser(accion, id, descripcion){    
        console.log("fetchAddRemoveMOVIEuser")      
                       
        fetch(`/protegida/api?tipoQry=AddRemoveMOVIESuser&accion=${accion}&id=${id}&descripcion=${descripcion}`)         
          .then((res) => res.json())
          .then((res) => {  
            const respuesta = res;
            console.log(respuesta);
            
          });
      }// FIN FETCHDATA















        var iconoLight = document.getElementsByClassName("fa-moon")
        var iconoMenu = document.getElementById("iconoMenu")
    
        let puntos = document.getElementById("main-punto")
        let puntoTitulo = document.getElementById("puntoTitulo")
        const puntoIntermitente = () => {
            puntos.classList.toggle("main-punto-oculto")
            puntoTitulo.classList.toggle("main-punto-oculto")
            setTimeout(puntoIntermitente, 1000)
        }
        puntoIntermitente()

        iconoLight[0].addEventListener('click', (e) => {
        
            var btnModo = document.getElementById('btnModo')
            var elemBody = document.getElementById('elemBody')

            if (btnModo.value == `-Dark Mode-`) {
                iconoMenu.style.color = "#ffffff"
                btnModo.value = "-Light Mode-"
                elemBody.classList.toggle("modoClaro")
                iconoLight[0].classList.toggle("fa-sun")
                iconoLight[0].classList.toggle("fa-moon")
            } else {
                btnModo.value = "-Dark Mode-"
                iconoMenu.style.color = "#000000"
                elemBody.classList.toggle("modoClaro")
                iconoLight[0].classList.toggle("fa-sun")
                iconoLight[0].classList.toggle("fa-moon")
            }
        });

        iconoMenu.addEventListener("click", ()=>{
          document.getElementById('sidebar').classList.toggle('active');
        })

    })

  </script>
</body>

</html>