


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <link rel="stylesheet" href="/css/proyects.css">
    <link rel="stylesheet" href="/css/iziToast.min.css">

    <title>PORTFOLIO</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <style>
        h1{
          font-family: 'PT Sans', sans-serif;
          display: block;
          font-size: 2em;
          margin-block-start: 0.67em;
          margin-block-end: 0.67em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 32px;
        }
      </style>
</head>

<body id="elemBody" class="modoClaro  modoOscuro">
  <header>
    <%- include ("partials/_heads") %>
  </header>
  <div style=" border-bottom: 1px solid rgba(128, 128, 128, 0.282);">
    <div style="width: 80%; margin: 0 auto;" >
      <p class="main-texto">Ingrese al <span class="main-nombre"> SISTEMA</span><span class="main-punto"
          id="main-punto">_</span> con sus credenciales
      </p>  
      <br>
    </div>
  </div>

  <div style="width: 40%; min-width: 270px; margin-left: auto; margin-right: auto; margin-top: 60px;"> 
    <div class="main-texto">
      <form id="login-form">
        <p style="font-size: 18px;" class="main-nombre">USUARIO</p>
        <input type="text" name="username" id="username" style="color: black; width: 100%;"> 

        <br>

        <p style="font-size: 18px;" class="main-nombre">CONTRASEÑA</p>
        <input type="password" name="password" id="password" style="color: black; width: 100%;"> 
        <br>
        <div style="text-align: center; align-items: center;">
          <button type="submit" class="main-btn" >INGRESAR</button>
        </div>
      </form>
    </div>

  </div>
 


  <footer>
    <div class="containterMain--redes">
      <ul class="redes">
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fab fa-twitter"></i></a>
        <a class="redes-items" href="https://github.com/germandeburzaco"><i class="fab fa-github"></i></a>
        <a class="redes-items" href="https://codepen.io/GermanDaniG"><i class="fab fa-codepen"></i></a>
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fas fa-envelope"></i></a>

      </ul>
    </div>
    <div class="footer-bajo">

    </div>
  </footer>

  <script src="/js/iziToast.min.js"></script>

  <script>
    window.addEventListener("load", () => {

      var rutaURL = <%- JSON.stringify(rutaURL) %>;
      console.log(rutaURL)

      const loginForm = document.getElementById('login-form');
      loginForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        iziToast.show({     
            id: 'iziAguarde', // Asigna un ID a la notificación               
            title: "ATENCION",
            message: "Aguarde un instante....",
            closeOnClick: true,                    
            position: 'bottomRight',
            timeout: 300000
        });
        const response = await fetch('/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ username, password })
        });

        const data = await response.json();

        if (response.ok) {
          const notificationId = 'iziAguarde'; 
          iziToast.hide({}, document.getElementById(notificationId));
          console.log(response)
          console.log(data)
          document.cookie = `token=${data.token}; path=/;`;
          // Redirigir al sitio raíz
          window.location.href = rutaURL;
        } else {
          console.log(data)
          const notificationId = 'iziAguarde'; 
          iziToast.hide({}, document.getElementById(notificationId));
          iziToast.warning({     
            id: 'iziError', // Asigna un ID a la notificación               
            title: "ATENCION",
            message: "USUARIO y/o CONTRASEÑA incorrectas....REINTENTE",
            closeOnClick: true,                    
            position: 'bottomRight',
            timeout: 300000
        });
        }
      });




     












        var iconoLight = document.getElementsByClassName("fa-moon")
        var iconoMenu = document.getElementById("iconoMenu")
    
        let puntos = document.getElementById("main-punto")
        let puntoTitulo = document.getElementById("puntoTitulo")
        const puntoIntermitente = () => {
            puntos.classList.toggle("main-punto-oculto")
            puntoTitulo.classList.toggle("main-punto-oculto")
            setTimeout(puntoIntermitente, 1000)
        }
        puntoIntermitente()

        iconoLight[0].addEventListener('click', (e) => {
        
            var btnModo = document.getElementById('btnModo')
            var elemBody = document.getElementById('elemBody')

            if (btnModo.value == `-Dark Mode-`) {
                btnModo.value = "-Light Mode-"
                iconoMenu.style.color = "#ffffff"
                elemBody.classList.toggle("modoClaro")
                iconoLight[0].classList.toggle("fa-sun")
                iconoLight[0].classList.toggle("fa-moon")
            } else {
                btnModo.value = "-Dark Mode-"
                iconoMenu.style.color = "#000000"
                elemBody.classList.toggle("modoClaro")
                iconoLight[0].classList.toggle("fa-sun")
                iconoLight[0].classList.toggle("fa-moon")
            }
        });

        iconoMenu.addEventListener("click", ()=>{
          document.getElementById('sidebar').classList.toggle('active');
        })

    })

  </script>
</body>

</html>