


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <link rel="stylesheet" href="/css/proyects.css">
    <title>PORTFOLIO</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <style>
        h1{
          font-family: 'PT Sans', sans-serif;
          display: block;
          font-size: 2em;
          margin-block-start: 0.67em;
          margin-block-end: 0.67em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 32px;
        }

        .card {          
          transition: 0.3s;         
          margin: auto;
          text-align: center;
        }
        

        .container {
          padding: 2px 16px;
        }

        .icon {
          padding: 10px;
          background: dodgerblue;
          color: white;
          min-width: 50px;
          text-align: center;
        }

        .input-field {
          min-width: 270px;
          width: 100%;
          padding: 5px;
          outline: none;
          margin: auto;
        }

        .input-field:focus {
          border: 2px solid dodgerblue;
        }
        .btn {
        background-color: dodgerblue;
        color: white;
        padding: 10px 5px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        margin: auto;
        min-width: 270px;
      }
      </style>
</head>

<body id="elemBody" class="modoClaro  modoOscuro">
  <header>
    <%- include ("partials/_heads") %>
  </header>
  <div >
    <div style="width: 80%; margin: 0 auto;">
      <p class="main-texto">Mi <span class="main-nombre"> PERFIL</span><span class="main-punto"
          id="main-punto">_</span>
      </p>      
    </div>
  </div>
  <div style="border-bottom: 1px solid rgba(128, 128, 128, 0.282);">
    <div class="card">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width: 150px; text-align: center;
      ">
        <h4><b><%- datosUsuario[0].user_name %></b></h4> 
        <p><%- datosUsuario[0].EMAIL %></p> 
      <div class="container">
      </div>
    </div>
  </div>

  <div >
    <div class="w3-container" style="width: 35%; margin: auto; min-width: 290px">
      <div class="input-container" style="margin: 5px;">        
        <input class="input-field" type="text" placeholder="Contraseña Actual" name="usrnm">
      </div>
    
      <div class="input-container" style="margin: 5px;">        
        <input class="input-field" type="text" placeholder="Nueva contraseña" name="email">
      </div>
      
      <div class="input-container" style="margin: 5px;">        
        <input class="input-field" type="password" placeholder="Repita nueva contraseña" name="psw">
      </div>
      <button type="submit" class="btn" style="margin: 5px;">CAMBIAR CONTRASEÑA</button>
    </div>
  </div>
 
  







  <footer>
    <div class="containterMain--redes">
      <ul class="redes">
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fab fa-twitter"></i></a>
        <a class="redes-items" href="https://github.com/germandeburzaco"><i class="fab fa-github"></i></a>
        <a class="redes-items" href="https://codepen.io/GermanDaniG"><i class="fab fa-codepen"></i></a>
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fas fa-envelope"></i></a>

      </ul>
    </div>
    <div class="footer-bajo">

    </div>
  </footer>

  <script>
    window.addEventListener("load", () => {

      
        var iconoLight = document.getElementsByClassName("fa-moon")
        var iconoMenu = document.getElementById("iconoMenu")
    
        let puntos = document.getElementById("main-punto")
        let puntoTitulo = document.getElementById("puntoTitulo")
        const puntoIntermitente = () => {
            puntos.classList.toggle("main-punto-oculto")
            puntoTitulo.classList.toggle("main-punto-oculto")
            setTimeout(puntoIntermitente, 1000)
        }
        puntoIntermitente()

        iconoLight[0].addEventListener('click', (e) => {
        
            var btnModo = document.getElementById('btnModo')
            var elemBody = document.getElementById('elemBody')

            if (btnModo.value == `-Dark Mode-`) {
                iconoMenu.style.color = "#ffffff"
                btnModo.value = "-Light Mode-"
                elemBody.classList.toggle("modoClaro")
                iconoLight[0].classList.toggle("fa-sun")
                iconoLight[0].classList.toggle("fa-moon")
            } else {
                btnModo.value = "-Dark Mode-"
                iconoMenu.style.color = "#000000"
                elemBody.classList.toggle("modoClaro")
                iconoLight[0].classList.toggle("fa-sun")
                iconoLight[0].classList.toggle("fa-moon")
            }
        });

        iconoMenu.addEventListener("click", ()=>{
          document.getElementById('sidebar').classList.toggle('active');
        })

    })

  </script>
</body>

</html>