


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <link rel="stylesheet" href="/css/proyects.css">
    <title>PORTFOLIO</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <style>
        h1{
          font-family: 'PT Sans', sans-serif;
          display: block;
          font-size: 2em;
          margin-block-start: 0.67em;
          margin-block-end: 0.67em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 32px;
        }

        #portfolioContainer{
          display: grid;
          grid-template-columns: repeat(auto-fill, 340px);
          justify-content: center;
          gap: 10px;
          max-width: 1100px;
          margin: auto;
          margin-bottom: 70px;
        }

        .portfolio-items {       
            height: 390px;
            background-color: var(--bkColor1Claro);           
            display: flex;
            flex-direction: column;
            box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
            border-radius: 5px;
            cursor: pointer;
        }
        .portfolioIMG{
          height: 310px;
        }

        .textoBlackMode span{
          color: green; 
          background-color: black; 
          width: 50px; 
          display:inline-flex; 
          justify-content: center
        }
        .portfolioIMG {
          filter: grayscale(100%); /* Convierte la imagen a blanco y negro */
          transition: filter 0.3s ease; /* Agrega una transición suave al cambio */
        }

        .portfolioIMG:hover {
          filter: grayscale(0%); /* Recupera el color en hover */
        }
      </style>
</head>

<body id="elemBody" class="modoClaro  modoOscuro">
  <header>
    <%- include ("partials/_heads") %>
  </header>
  <div >
    <div style="width: 80%; margin: 0 auto;">
      <p class="main-texto">Estos son mis <span class="main-nombre"> PROYECTOS</span><span class="main-punto"
          id="main-punto">_</span>
      </p>      
    </div>
  </div>
 
  <div >
    <ul id="portfolioContainer">
      <li class="portfolio-items">
        <img class="portfolioIMG" src="https://i.postimg.cc/Dm0jPMYZ/sitio1.png">
        <p class="textoBlackMode">MUSICAL KEY</p>
        <p class="textoBlackMode" style="text-align: center; align-items: center;" > <span >HTML</span> <span s>CSS</span> <span >JS</span></p>
        <p class="textoBlackMode"><a target="_blank" href="https://codepen.io/GermanDaniG/full/gORWgeZ">try it!</a> </p>
      </li>
      <li class="portfolio-items">
        <img class="portfolioIMG" src="https://i.postimg.cc/F16PWV2x/sitio2.png">
        <p class="textoBlackMode">CLOCK</p>
        <p class="textoBlackMode" style="text-align: center; align-items: center;" > <span>HTML</span> <span >CSS</span> <span >JS</span></p>
        <p class="textoBlackMode"> </p>
      </li>
      <li class="portfolio-items">
        <img class="portfolioIMG" src="/img/sitio3.png">
        <p class="textoBlackMode">LEAFLET </p>
        <p class="textoBlackMode" style="text-align: center; align-items: center;" > <span >HTML</span> <span >CSS</span> <span >JS</span></p>
        <p class="textoBlackMode"><a target="_blank" href="https://codepen.io/GermanDaniG/full/QWMOXMo">try it!</a> </p>
      </li>
      <li class="portfolio-items">
        <img class="portfolioIMG" src="/img/sitio4.png">
        <p class="textoBlackMode">DIGITAL CLOCK </p>
        <p class="textoBlackMode" style="text-align: center; align-items: center;" > <span >HTML</span> <span >CSS</span> <span >JS</span></p>
        <p class="textoBlackMode"><a target="_blank" href="https://codepen.io/GermanDaniG/full/powXmWL">try it!</a> </p>
      </li>
      <li class="portfolio-items">
        <img class="portfolioIMG" src="/img/sitio5.png">
        <p class="textoBlackMode">IMDB API </p>
        <p class="textoBlackMode" style="text-align: center; align-items: center;" > <span >HTML</span> <span >CSS</span> <span >JS</span> <span >NODEJS</span></p>
        <p class="textoBlackMode"><a target="_blank" href="https://codepen.io/GermanDaniG/full/powXmWL">try it!</a> </p>
      </li>
      <li class="portfolio-items">
        <img class="portfolioIMG" src="/img/sitio6.png">
        <p class="textoBlackMode">API BANCO CENTRAL ARG </p>
        <p class="textoBlackMode" style="text-align: center; align-items: center;" > <span >HTML</span> <span >CSS</span> <span >JS</span> <span >NODEJS</span></p>
        <p class="textoBlackMode"><a target="_blank" href="https://codepen.io/GermanDaniG/full/powXmWL">try it!</a> </p>
      </li>
      <li class="portfolio-items">
        <img class="portfolioIMG" src="/img/sitio7.png">
        <p class="textoBlackMode">API WEATHER </p>
        <p class="textoBlackMode" style="text-align: center; align-items: center;" > <span >HTML</span> <span >CSS</span> <span >JS</span> <span >NODEJS</span></p>
        <p class="textoBlackMode"><a target="_blank" href="https://codepen.io/GermanDaniG/full/powXmWL">try it!</a> </p>
      </li>
    </ul>

  </div>







  <footer>
    <div class="containterMain--redes">
      <ul class="redes">
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fab fa-twitter"></i></a>
        <a class="redes-items" href="https://github.com/germandeburzaco"><i class="fab fa-github"></i></a>
        <a class="redes-items" href="https://codepen.io/GermanDaniG"><i class="fab fa-codepen"></i></a>
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fas fa-envelope"></i></a>

      </ul>
    </div>
    <div class="footer-bajo">

    </div>
  </footer>

  <script>
    window.addEventListener("load", () => {

      

      var iconoLight = document.getElementById("iconoLight")

    
        let puntos = document.getElementById("main-punto")
        let puntoTitulo = document.getElementById("puntoTitulo")
        const puntoIntermitente = () => {
            puntos.classList.toggle("main-punto-oculto")
            puntoTitulo.classList.toggle("main-punto-oculto")
            setTimeout(puntoIntermitente, 1000)
        }
        puntoIntermitente()

        iconoLight.addEventListener('click', (e) => {      
        var btnModo = document.getElementById('btnModo')
        var elemBody = document.getElementById('elemBody')

        if (btnModo.value == `-Dark Mode-`) {
          btnModo.value = "-Light Mode-"
          elemBody.classList.toggle("modoClaro")
          iconoLight.classList.toggle("fa-sun")
          iconoLight.classList.toggle("fa-moon")
        } else {
          btnModo.value = "-Dark Mode-"
          elemBody.classList.toggle("modoClaro")
          iconoLight.classList.toggle("fa-sun")
          iconoLight.classList.toggle("fa-moon")
        }
      });

        iconoMenu.addEventListener("click", ()=>{
          document.getElementById('sidebar').classList.toggle('active');
        })

    })

  </script>
</body>

</html>