
    <div class="navbar">      
      <div class="navbar--logo">
        <a href="/"> <h1>GERMAN<span class="main-punto" id="puntoTitulo">.</span>JS<span class="main-punto"></span></h1></a>
      </div>
      <div class="navbar--botones">
        <ul class="navbar--botones-ul" >
          <%if (userName==='' || userName===undefined) { %>
            <li><a style="color: inherit;" href="/proyects"> Proyectos</a> </li>
            <li><a style="color: inherit;" href="/aprender"> Aprende JS</a> </li>
            <li><a style="color: inherit;" href="/login"> Login</a></li>
          <% } else { %>
            <li><a style="color: inherit;" href="/proyects"> Proyectos</a> </li>
            <li><a style="color: inherit;" href="/aprender"> Aprende JS</a> </li>
            <li><a style="color: inherit;" href="/cine"> Cine</a> </li>
            <li><a style="color: inherit;" href="/bancocentral"> BcoCentral</a> </li>
            <li><a style="color: inherit;" href="/clima"> Clima</a> </li>
            <%if ( userName==='GERMANG'  ) { %>
              <li><a style="color: inherit;" href="/admin"> Admin</a> </li>
            <% } %>
            <li><a style="color: inherit;" href="/perfil"> <%- userName %>  <i id="iconoUsuario" class="fas fa-user"></i></a></li>
            <li><a style="color: inherit;" href="/salir"> Salir</a> </li>
          <% } %>
          <!--<li>Portfolio</li>-->
        </ul>
      </div>
      <div class="navbar--menu">
        <input id="btnMenu" style="display: none;" type="button" >
        <i id="iconoMenu" class="fas fa-bars" style="color:var(--txtColor1Claro)"></i>
      </div>
      <div class="navbar--modo">
        <input id="btnModo" style="display: none;" type="button" value="-Dark Mode-">
        <i id="iconoLight" class="fas fa-moon"></i>
      </div>
    </div>

    <!-- SIDEBAR PARA MENU -->  
    <div id="sidebar" style="z-index: 99;" >
      <div class="toggle-btnCustom" >
        <span style="background-color: white; cursor: pointer"><i class="fas fa-x"></i></span>
        <ul >
          <%if ( userName==='' || userName===undefined ) { %>
            <li><a style="color: inherit;" href="/proyects"> Proyectos</a> </li>
            <li><a style="color: inherit;" href="/aprender"> Aprende JS</a> </li>
            <li><a style="color: inherit;" href="/login"> Login</a></li>
          <% } else { %>
            <li><a style="color: inherit;" href="/proyects"> Proyectos</a> </li>
            <li><a style="color: inherit;" href="/aprender"> Aprende JS</a> </li>
            <li><a style="color: inherit;" href="/cine"> Cine</a> </li>
            <li><a style="color: inherit;" href="/bancocentral"> BcoCentral</a> </li>
            <li><a style="color: inherit;" href="/clima"> Clima</a> </li>
            <%if ( userName==='GERMANG'  ) { %>
              <li><a style="color: inherit;" href="/admin"> Admin</a> </li>
            <% } %>
            <li><a style="color: inherit;" href="/perfil"> <%- userName %> <i id="iconoUsuario" class="fas fa-user"></i></a></li>
            <li><a style="color: inherit;" href="/salir"> Salir</a> </li>
          <% } %>
          <!--<li>Portfolio</li>-->
        </ul>
      </div> 
    </div>