
    <div class="navbar">      
      <div class="navbar--logo">
        <a href="/"> <h1>GERMAN<span class="main-punto" id="puntoTitulo">.</span>JS<span class="main-punto"></span></h1></a>
      </div>
      <div class="navbar--botones">
        <ul class="navbar--botones-ul">
          <%if (userName===undefined || userName===null || userName==='' ) { %>
            <li><a style="color: inherit;" href="/proyects"> Proyects</a> </li>
            <li><a style="color: inherit;" href="/login"> Login</a></li>
          <% } else { %>
            <li><a style="color: inherit;" href="/proyects"> Proyects</a> </li>
            <li><a style="color: inherit;" href=""> <%- userName.userId %></a></li>
          <% } %>
          <!--<li>Portfolio</li>-->
        </ul>
      </div>
      <div class="navbar--menu">
        <input id="btnMenu" style="display: none;" type="button" >
        <i id="iconoMenu" class="fas fa-bars"></i>
      </div>
      <div class="navbar--modo">
        <input id="btnModo" style="display: none;" type="button" value="-Dark Mode-">
        <i id="iconoLight" class="fas fa-moon"></i>
      </div>
    </div>